.search
  = form_tag products_path, method: :get do
    - if params[:query].present?
      = link_to "Effacer", products_path
    = text_field_tag :query, params[:query], id: "product_search", autocomplete: "on"
    = submit_tag "OK", :remote => true
.sort_filter
  = form_tag products_path, method: :get do
    .sort
      %h3 Tri par:
      = check_box_tag :price,  "price"
      = label_tag :Prix
      %br/
      = check_box_tag :weight,  "weight"
      = label_tag :Poids
    .filter
      %h3 Filtrer:
      %ul
        - @tags.each do |tag|
          %li
            = check_box_tag 'tag_list_ids[]', tag.id
            = h tag.name
    .go
      = submit_tag "GO", :remote => true

%h1 Liste des produits
.splitcontent
  = render 'tab_index'
