#user_nav
  = link_to "Accueil", root_url
  - if current_user
    \#{link_to "Déconnexion", log_out_path} 
    = link_to "Gestion du catalogue", {:controller => "admins", :action => "index"} 
    = link_to "Enregistrer un autre admin", sign_up_path
  - else
    \#{link_to "Administrateur", log_in_path}